<div
  fxLayout="row wrap"
  fxLayoutGap="8px"
  fxLayoutAlign="center"
  class="container"
>
  <mat-card fxFlex="80%" fxFlex.lt-sm="100%">
    <h1>WebSocket</h1>
    <p>
      Please start the server with command "npm run websocket-server" to check
      the operation. The sent message will be output to the log of the terminal
      where express is running.
    </p>
    <div>
      <mat-form-field
        class="form-group"
        fxFlex="calc(20% - 8px)"
        fxFlex.lt-md="calc(50% - 8px)"
        fxFlex.lt-sm="100%"
      >
        <mat-label>Message</mat-label>
        <input
          matInput
          type="text"
          placeholder="Message"
          [formControl]="message"
        />
        <mat-error *ngIf="message.errors?.required"
          >項目が未入力です
        </mat-error>
      </mat-form-field>
    </div>
    <button
      mat-stroked-button
      type="submit"
      color="primary"
      (click)="sendMessage()"
    >
      <mat-icon aria-hidden="false" aria-label="info icon">send</mat-icon>
      Send Message
    </button>
  </mat-card>
</div>
