<div
  fxLayout="row wrap"
  fxLayoutGap="8px"
  fxLayoutAlign="center"
  class="container"
>
  <mat-card fxFlex="80%" fxFlex.lt-sm="100%">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <h1>Embedded Page</h1>
        <div>
          <mat-form-field
            appearance="fill"
            fxFlex="calc(33% - 8px)"
            fxFlex.lt-md="calc(50% - 8px)"
            fxFlex.lt-sm="100%"
          >
            <mat-label>メッセージ</mat-label>
            <input
              matInput
              placeholder="メッセージ"
              id="message"
              name="message"
              formControlName="message"
            />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-flat-button type="submit" color="primary">
          <mat-icon aria-hidden="false" aria-label="info icon">send</mat-icon>
          送信
        </button>
      </mat-card-actions>
    </form>
    <div>
      <p>
        <span>Received Message: </span><span>{{ receivedMessage }}</span>
      </p>
    </div>
  </mat-card>
</div>
