<form [formGroup]="wineForm" (ngSubmit)="onWineFormSubmit()">
  <input type="hidden" formControlName="id" />
  <!-- <div class="form-group">
    <label for="name">Name</label>
    <input id="name" type="text" placeholder="Name" formControlName="name" />
  </div> -->
  <mat-form-field class="form-group">
    <mat-label>Name</mat-label>
    <input matInput type="text" placeholder="Name" formControlName="name" />
  </mat-form-field>
  <mat-form-field class="form-group">
    <mat-label>Farm</mat-label>
    <input matInput type="text" placeholder="Farm" formControlName="farm" />
  </mat-form-field>
  <mat-form-field class="form-group">
    <mat-label>Vintage</mat-label>
    <input
      matInput
      type="text"
      placeholder="Vintage"
      formControlName="vintage"
    />
  </mat-form-field>
  <mat-form-field class="form-group">
    <mat-label>Size</mat-label>
    <input matInput type="number" placeholder="Size" formControlName="size" />
  </mat-form-field>
  <mat-form-field class="form-group">
    <mat-label>Price</mat-label>
    <input matInput type="number" placeholder="Price" formControlName="price" />
  </mat-form-field>

  <button type="submit" class="btn btn-primary">Save</button>
</form>
