<app-tabs>
  <app-tab [title]="'Home'">
    <h3 class="title">List of Wine</h3>
    <app-wines-list
      [wines]="wines"
      (addWine)="onAddWine()"
      (editWine)="onEditWine($event)"
    ></app-wines-list>
    <hr />
    <div class="button">
      <button
        mat-stroked-button
        color="primary"
        class="btn btn-default"
        (click)="onOpenAbout()"
      >
        <mat-icon aria-hidden="false" aria-label="info icon">info</mat-icon>
        About this
      </button>
    </div>
  </app-tab>
</app-tabs>

<ng-template #about>
  <h3>About this page</h3>
  <p>This is a sample of dynamic component of Angular.</p>
</ng-template>

<!-- コンポーネント内でwineは未定義なので、仮の変数wineを宣言する -->
<ng-template let-wine="wine" #wineEdit>
  <app-wine-form
    [wine]="wine"
    (saveWine)="onWineFormSubmit($event)"
  ></app-wine-form>
</ng-template>
