<div
  fxLayout="row wrap"
  fxLayoutGap="8px"
  fxLayoutAlign="center"
  class="container"
>
  <mat-card fxFlex="80%" fxFlex.lt-sm="100%">
    <h1>Observable.customEvent</h1>
    <p>This is a test of customEvent operator of RxJS.</p>
    <div *ngFor="let item of itemList" class="block">
      <button mat-stroked-button (click)="item.handleClick()">Button</button>
      <span>{{ item.message }}</span>
    </div>
    <button mat-stroked-button color="primary" (click)="addItem()">
      Button
    </button>
  </mat-card>
</div>
