<mat-toolbar color="primary" *ngIf="showToolbar">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Icon-button with menu icon"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
    <span class="example-spacer"></span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Home</button>
    <button mat-menu-item routerLink="/dynamic-tabs">Dynamic Tabs</button>
    <button mat-menu-item routerLink="/todo-list">Todo List</button>
    <button mat-menu-item routerLink="/lazy-load">Lazy-load</button>
    <button mat-menu-item routerLink="/routing-tab">Routing Tab</button>
    <button mat-menu-item routerLink="/websocket">WebSocket</button>
    <button mat-menu-item routerLink="/form">Form</button>
    <button mat-menu-item routerLink="/form-with-ngx-mask">
      Form with ngx-mask
    </button>
    <button mat-menu-item routerLink="/iframe">iframe</button>
    <button mat-menu-item routerLink="/custom-matcher">Custom Matcher</button>
    <button mat-menu-item routerLink="/ts-class-subscription">
      TS Class Subscription
    </button>
    <button mat-menu-item routerLink="/nested-event-binding">
      Nested Event Binding
    </button>
    <button mat-menu-item routerLink="/broadcast">Broadcast Channel</button>
    <button mat-menu-item routerLink="/history">History</button>
    <button mat-menu-item routerLink="/ng-component-outlet">
      NgComponentOutlet
    </button>
  </mat-menu>
  <span>{{ title }}</span>
</mat-toolbar>
<router-outlet></router-outlet>
