<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Icon-button with menu icon"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
    <span class="example-spacer"></span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Home</button>
    <button mat-menu-item routerLink="/dynamic-tabs">Dynamic Tabs</button>
    <button mat-menu-item routerLink="/todo-list">Todo List</button>
    <button mat-menu-item routerLink="/lazy-load">Lazy-load</button>
    <button mat-menu-item routerLink="/websocket">WebSocket</button>
    <button mat-menu-item routerLink="/iframe">iframe</button>
    <button mat-menu-item routerLink="/custom-matcher">custom-matcher</button>
    <button mat-menu-item routerLink="/combine-latest">combine-latest</button>
  </mat-menu>
  <span>{{ title }}</span>
</mat-toolbar>
<router-outlet></router-outlet>
