<div
  fxLayout="row wrap"
  fxLayoutGap="8px"
  fxLayoutAlign="center"
  class="container"
>
  <mat-card fxFlex="80%" fxFlex.lt-sm="100%">
    <h1>Nested Event Binding</h1>
    <p>
      This is a test of nested event binding in Angular. Please check console.
    </p>
    <div *ngFor="let item of itemList" class="block">
      <ng-template
        appComponent
        [item]="item"
        [setMessage]="setMessage"
      ></ng-template>
    </div>
    <button mat-stroked-button color="primary" (click)="addItem()">
      Button
    </button>
  </mat-card>
</div>
