:host {
  justify-content: center;
  margin: 16px;

  .container {
    margin-bottom: 32px;

    mat-divider {
      margin-bottom: 16px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border: 1px #777;

      tr:nth-child(odd) {
        background-color: #eee; /* 背景色指定 */
      }

      thead {
        border-bottom: 3px double #777;
        th {
          width: 33.3%;
        }
      }
    }

    .submitted-data {
      width: 100%;
      overflow: scroll;
    }
  }
}
